# =======================================
# ESEMPIO CONFIGURAZIONE AMBIENTE
# =======================================

# --- Search Service (Microservizio 3, Porta 83) ---
SEARCH_SERVICE_PORT=83
QDRANT_HOST=localhost
QDRANT_PORT=6333
JWT_SECRET=una_chiave_segreta_molto_sicura_e_lunga_almeno_32_caratteri
EMBEDDING_PROVIDER=mock # Provider per gli embedding. Valori possibili: "mock", "openai"
OPENAI_API_KEY=sk-your_openai_api_key


# --- Document Service (Microservizio 1, Porta 82) ---
APP_PORT=82
MONGO_URI=mongodb://localhost:27017
MONGO_DB=document_web_app
MONGO_COLLECTION=documents


# --- User Service (PostgreSQL) ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
